@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.food {
  background: #ff003d;
  position: relative;
}

.snake-body {
  background: #60cbff;
}

/* This sucks tailwind cant compile function based classes - find a better way */
.col-start-0 {
  grid-column-start: 0;
}

.row-start-0 {
  grid-row-start: 0;
}

.col-start-1 {
  grid-column-start: 1;
}

.row-start-1 {
  grid-row-start: 1;
}

.col-start-2 {
  grid-column-start: 2;
}

.row-start-2 {
  grid-row-start: 2;
}

.col-start-3 {
  grid-column-start: 3;
}

.row-start-3 {
  grid-row-start: 3;
}

.col-start-4 {
  grid-column-start: 4;
}

.row-start-4 {
  grid-row-start: 4;
}

.col-start-5 {
  grid-column-start: 5;
}

.row-start-5 {
  grid-row-start: 5;
}

.col-start-6 {
  grid-column-start: 6;
}

.row-start-6 {
  grid-row-start: 6;
}

.col-start-7 {
  grid-column-start: 7;
}

.row-start-7 {
  grid-row-start: 7;
}

.col-start-8 {
  grid-column-start: 8;
}

.row-start-8 {
  grid-row-start: 8;
}

.col-start-9 {
  grid-column-start: 9;
}

.row-start-9 {
  grid-row-start: 9;
}

.col-start-10 {
  grid-column-start: 10;
}

.row-start-10 {
  grid-row-start: 10;
}

.col-start-11 {
  grid-column-start: 11;
}

.row-start-11 {
  grid-row-start: 11;
}

.col-start-12 {
  grid-column-start: 12;
}

.row-start-12 {
  grid-row-start: 12;
}

.col-start-13 {
  grid-column-start: 13;
}

.row-start-13 {
  grid-row-start: 13;
}

.col-start-14 {
  grid-column-start: 14;
}

.row-start-14 {
  grid-row-start: 14;
}

.col-start-15 {
  grid-column-start: 15;
}

.row-start-15 {
  grid-row-start: 15;
}

.col-start-16 {
  grid-column-start: 16;
}

.row-start-16 {
  grid-row-start: 16;
}

.col-start-17 {
  grid-column-start: 17;
}

.row-start-17 {
  grid-row-start: 17;
}

.col-start-18 {
  grid-column-start: 18;
}

.row-start-18 {
  grid-row-start: 18;
}

.col-start-19 {
  grid-column-start: 19;
}

.row-start-19 {
  grid-row-start: 19;
}

.col-start-20 {
  grid-column-start: 20;
}

.row-start-20 {
  grid-row-start: 20;
}

.col-start-21 {
  grid-column-start: 21;
}

.row-start-21 {
  grid-row-start: 21;
}

.col-start-22 {
  grid-column-start: 22;
}

.row-start-22 {
  grid-row-start: 22;
}

.col-start-23 {
  grid-column-start: 23;
}

.row-start-23 {
  grid-row-start: 23;
}

.col-start-24 {
  grid-column-start: 24;
}

.row-start-24 {
  grid-row-start: 24;
}

.col-start-25 {
  grid-column-start: 25;
}

.row-start-25 {
  grid-row-start: 25;
}

.col-start-26 {
  grid-column-start: 26;
}

.row-start-26 {
  grid-row-start: 26;
}

.col-start-27 {
  grid-column-start: 27;
}

.row-start-27 {
  grid-row-start: 27;
}

.col-start-28 {
  grid-column-start: 28;
}

.row-start-28 {
  grid-row-start: 28;
}

.col-start-29 {
  grid-column-start: 29;
}

.row-start-29 {
  grid-row-start: 29;
}

.col-start-30 {
  grid-column-start: 30;
}

.row-start-30 {
  grid-row-start: 30;
}
